*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
form{
    border: 1px solid white ;
    width: 1500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
label{
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="text"]{
    width: 500px;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
input[type="button"]{
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
button{
    margin-top: 25px;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
@keyframes input_load{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
td{
    width: 25px;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: 1px solid white;
    padding: 20px;
}
p{
    color: white;
    font-size: 48px;
    margin-top: 50px;
}