@font-face {
    font-family: 'Inter';
    src: url(inter/Inter-VariableFont_opsz\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
}
body{
    background-color: rgb(27, 27, 28);
    overflow: hidden;
}
nav{
    background-color: rgb(39, 39, 41);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 nav > section{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
section > a{
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

}
h1{
    font-family: 'Inter', sans-serif;
    color: rgb(219, 207, 207);
    font-size: 48px;
}
p{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: rgb(219, 207, 207);
}
main{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    flex-direction: row;
    
}
main > section{
    display: flex;
    width: 750px;
    margin-left: 150px;
    gap: 10px;
    height: 200px;
    flex-wrap: wrap;
}
aside{
    background-image: url(img/olegro.png);
    width: 1000px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.change{
    background-image: url(img/alexander.png);
}