*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 1170px;
    height: 100%;
    margin:  0 auto;
}
header{
    margin-top: 30px;
    width: 1170px;
    height: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.nav_login{
    display: flex;
    justify-self: flex-end;
    gap: 10px;
    align-items: center;
}
.nav_options{
    display: flex;
    gap: 65px;
    flex-wrap: wrap;
    align-items: center;
}
.nav_links{
    gap: 20px;
    display: flex;
    align-items: center;
}
.nav_links > a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
}
.main_first_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1170px;
    height: 500px;
    background-color: rgba(0, 0, 255, 0.815);
    border-radius: 25px;
}
.main_first_block > img{
    position: relative;
    bottom: 85px;
    right: 50px;
}
.text_block{
    margin-left: 100px;
    margin-top: 100px;
    width: 600px;
    display: flex;
    flex-direction: column;
    color: white;
    height: 400px;
}
.text_block > h1{
    font-size: 64px;
}
.text_block > p{
    font-size: 24px;
    width: 550px;
    margin-top: 20px;
}
.text_block > button{
    margin-top: 50px;
    cursor: pointer;
}
#button_first_block{
    background-color: gold;
    border: 0;
    width: 190px;
    height: 50px;
    border-radius: 10px;
    font-size: 14px;
    
}
.first_section{
    height: 500px;
}
.section_text_block{
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.section_text_block > h1{
    font-size: 48px;
}
.section_text_block > p{
    font-size: 18px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 270px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}
.block1{
    background-image: url(img/4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.block2{
    background-image: url(img/5.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.block3{
    background-image: url(img/6.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.block4{
    background-image: url(img/7.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.block_row{
    width: 1170px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block > div{
    display: flex;
    align-items: center;
    width: 230px;
    height: 50px;
    margin-bottom: 35px;
    background-color: white;
    text-indent: 15px;

}
.second_section{
    width: 1170px;
    height: 540px;
    background-image: url(img/8.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text_block_2{
    margin-bottom: 20px;
    margin-left: 90px;
}
.text_block_2 > p{
    font-size: 22px;
    margin-top: 25px;
    text-align: justify;
    line-height: 30px;
}
.text_block_2 > h1{
    font-size: 52px;
}
.text_block_2 > button{
    margin-top: 50px;
    background-color: gold;
    border: 0;
    width: 190px;
    height: 50px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}