*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 26, 26);
}
#bloknot{
    width: 1200px;
    height: 800px;
    background-color: rgb(36, 36, 36);
}
textarea{
    width: 1200px;
    height: 800px;
    background-color: transparent;
    border: 0px;
    color: rgb(187, 187, 187);
    font-size: 28px;
}
#telo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#telo > p{
    font-size: 48px;
    color: rgb(187, 187, 187);
}
#records{
    width: 1200px;
    height: 250px;
    background-color: rgba(83, 83, 83, 0.473);
    display: flex;
    flex-wrap: wrap;
}
#records > button{
    width: 250px;
    height: 250px;
    background-color: rgba(141, 141, 141, 0.493);
    border: 0px;
    cursor: pointer;
    float: right;
}
#controls > button{
    width: 250px;
    height: 50px;
    background-color: rgba(141, 141, 141, 0.493);
    border: 0px;
    cursor: pointer;
}
#controls{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 1200px;
}
#records_area{
    width: 950px;
    height: 250px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#records_area > p{
    cursor: pointer;
    font-size: 28px;
    color: rgb(187, 187, 187);
}
#bloknot > p{
    font-size: 24px;
    margin: 5px;
    color: rgb(187, 187, 187);
}
#dev_info{
    position: relative;
    left: 780px;
    bottom: 1050px;
    color: rgb(187, 187, 187);
}
button{
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(187, 187, 187);
}