*{
    margin: 0;
    padding: 0;
}
body,html{
height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
form{
    width: 400px;
    border: 1px solid black;
    padding: 25px;
    height: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items:center;
}
input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
table{
    border: 1px solid black;
    padding: 25px;
    font-size: 24px;
}
td{
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    text-align: center;
    font-size: 24px;
}
p{
    font-size: 48px;
    text-align: center;
}